.image-coord-field {
	display: block;
	margin: 0;
	overflow: hidden;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	left: 0;
	top: 0;
}

.image-coord-field img {
	display: block;
	margin: 0;
}

.image-coord-field .grid {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: transparent url(focus-field.png) no-repeat center center;
	-webkit-transition: background 0.1s ease;
	-moz-transition: background 0.1s ease;
	-o-transition: background 0.1s ease;
	transition: background 0.1s ease;
}

.image-coord-fieldgroup .field.form__fieldgroup-item {
	display: block;
}

.image-coord-fieldgroup.debug .field.form__fieldgroup-item {
	display: inline-block;
}
